body { background-color: #fafafa }

/**
 * MATERIAL ELEVATION
 */
[elevation="0"] {
    box-shadow: 0 0 1px rgba(0,0,0,0.12), 0 0 1px rgba(0,0,0,0.24);
}
[elevation="1"] {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
[elevation="2"] {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
[elevation="3"] {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
[elevation="4"] {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
[elevation="5"] {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/**
 * MATERIAL TYPEOGRAPHY, LATIN/GREEK/CYRILLIC (DEFAULT)
 */
 
.material-display4 {
    font-weight: 300;
    font-size: 112px;
}

.material-display3 { font-size: 56px }

.material-display2 {
    font-size: 45px;
    line-height: 45px;
}

.material-display1 {
    font-size: 34px;
    line-height: 34px;
}

.material-headline {
    font-size: 24px;
    line-height: 24px;
}

.material-title {
    font-size: 20px;
    font-weight: 500;
}

.material-subheading { font-size: 15px }

.material-body2 {
    font-size: 13px;
    font-weight: 500;
}

.material-body1 { font-size: 13px }
.material-caption { font-size: 12px }

.material-primary { color: #b885bd }

@media screen and (max-width: 900) {
    .material-subheading { font-size: 16px }
    .material-body2 { font-size: 14px }
    .material-body1 { font-size: 14px }
}

.pfm-tab {
    display: inline-block;
    padding: 1rem;
}

.pfm-tab.selected {
    border-bottom: 2px solid #84528A;
}

.pfm-header {
    color: #84528A;
}

.whitespaced-text {
    white-space: pre-line;
}
